## This configuration file uses the design paradigma CONVENTION OVER CONFIGURATION
## ===============================================================================
## Commented settings use the described default values. 
## Uncomment and change them only when necessary.

## most important folder that is used as base for the other configuration options
## see DEKA-1815 for mor info on convention over configuration
brandmaker.dir=/data

## if not used comment or leave empty, change only if you know how to configure BM instances
## brandmaker.webcontext=instance1

## auto generated
## brandmaker.webcontext_with_underline=not used

## by convention, this value is set to  <brandmaker.dir>/MediaSystem<brandmaker.webcontext_with_underline>
mms.app.dir=/data/mediasystem

## by convention, this value is set to <mms.app.dir>/hotfolder, 
mms.hotfolder.dir=/data/sharedfolders/hotfolder

## by convention, this value is set to <brandmaker.dir>/word_hotfolder
## mms.word_editor.dir=

## by convention, this value is set to <mms.app.dir>/temp
## mms.temp.dir=

## by convention, this value is set to <brandmaker.dir>/Apps/ImageMagick
imagemagick.app.dir=/usr/bin
		
## by convention, this value is set to "//127.0.0.1:80/MediaSystem<brandmaker.webcontext_with_underline>"
## media.system.url=https://...

## by convention, this value is set to <brandmaker.dir>/Broko
## broko.app.dir=

## where mms uploads files for preview (this is the broko side mapping)
## by convention, this value is set to <mms.temp.dir>
## broko.local.mms.temp.dir=

## where mms uploads qxp/indd files
## by convention, this value is set to <broko.app.dir>/data/brandmaker/upload
## broko.upload.dir=C:/Brandmaker/Broko/data/brandmaker/upload

## where  broko looks for uploaded qxp/indd files
## by convention, this value is set to <broko.upload.dir>
## broko.local.upload.dir=

## where indesign/quark servers look for uploaded qxp/indd file
## by convention, this value is set to <broko.upload.dir>
## broko.renderer.upload.dir=

## by convention, this value is set to <broko.app.dir>/broko-web
## broko.web.dir=

## by convention, this value is set to http://127.0.0.1:8080/broko
## broko.app.url=http://

## existing user id in broko
## by default, this value is set to '1'
## mms.brokouser_id=1

## This parameter allows to define if the webshop opens in the same browser window (0) or in a new one (1).
## Default if not set is 0.
shop.open_in_new_window=0

## Share Session with Shop
brandmaker.session_sharing.enabled=1

## change system language in GUI
brandmaker.language.default=de
brandmaker.language.available=de,en

## configurable dateformat
application.dateformat=dd.MM.yy

## dir to store the backups. (will be stored in sub-dir /dbupdate).
## Thus we're using Microsoft SQL Server this should be a path, local for the sql server system and should exist.
brandmaker.backup.dir=/data/backup

##set the default value of new templates' cut mark property, default is true:
w2p.cutmarks.enabled_by_default=true

# size limit of email attachement (default is 50MB)
brandmaker.mail.max-attachment-size-mb=10


## Reference times for the performance test
performancetest.referencetime.createFiles = 30000
performancetest.referencetime.readFiles = 44000
performancetest.referencetime.dbInsert = 500
performancetest.referencetime.createPDF = 19600
performancetest.referencetime.scanPDF = 130
performancetest.referencetime.createTIFF = 50
performancetest.referencetime.addCheckers = 200
performancetest.referencetime.syncRequests = 20000
performancetest.referencetime.asyncRequests = 60000
performancetest.referencetime.copyFiles = 100
performancetest.referencetime.cleanUp = 350

##Logger - set the value of the mms loggers' directory
## by convention it is <mms.app.dir>/log
mms.log.dir=/data/Log

## Logger - set the value of the mms loggers' threshold (log level)
## Levels in increasing order are : OFF/FATAL/ERROR/WARN/INFO/DEBUG/TRACE/ALL
## by convention it is WARN, which means : log all of WARN/ERROR/FATAL
mms.log.level=INFO

#v31 features:

autodbupdates.enabled=true
brandmaker.show.coba_site_navigation=false
brandmaker.replace.coba.content=false

#	Configurable HOME button
# HOME_NAVIGATION_ITEM_URL=Link that needs to be opened in the desired target
# HOME_NAVIGATION_TARGET=_blank or _self
brandmaker.hide.context_help=0

# how broko sees <mms.app.dir>
broko.local.mms.dir=/data/mediasystem
# how renderer sees <mms.app.dir>
broko.renderer.mms.dir=//10.1.26.32/customer/mediasystem

## hide "powered by brandmaker" link - DEKA-2636, default false
brandmaker.customization.show-powered-by-brandmaker=true

#maximum of system messages that will be displayed in media pool (default is 5, 0 – unlimited)
mediapool.maximum.system_messages=10

#maximum of system messages in web2print (default is 5, 0 – unlimited)
web2print.maximum.system_messages=10

#tiled_view.source.xml.filename=C:/.../sample.xml

#in order to use media watching feature
brandmaker.show.media_watch=false


# This properties are for advanced search:	
# 0 - Not displayed
# 1 - The field will be displayed in standart search area
# 2 - The field will be displayed Extended field(Detailed search)
mediadb.searchmask.show_field_type.article_number=2
mediadb.searchmask.show_field_type.virtual_database=2
mediadb.searchmask.show_field_type.medias_title=2
mediadb.searchmask.show_field_type.medias_id=2

# v4.92 features:
event.booking.currency=\u20ac

#v5.0 features:
brandmaker.web2print.select_template_type=2
brandmaker.start_new_broko=true

#v5.06
imagemagick.strip.metadata=false

#Timeout value of real-time preview requests in milliseconds
brandmaker.real_time_preview.timeout=120000

#v5.08
brandmaker.smart.access.using.db=true

#5.10 features
brandmaker.mediapool.download-url-stays-valid-for=0

#5.14 features
brandmaker.smart.access.always_start_with_startpage=false

#mapped share
w2p.external.api.folder=[Path to MediaSystem]/shared/xls [folder has to be created manually]
#secret for authentication
w2p.external.api.secret=[Password which is defined from Consultant]
#User ID
w2p.external.api.creatorUserID=[valid user ID]

################################################################################
# DOCUMENT PROCESSOR configuration
################################################################################

################################################################################
# General rule for paths:
# use only / as path separator; do not terminate a path with /
################################################################################

 ################################################################################
# Project name - used in the logs - is a prefix for all log messages
################################################################################
PROJECT_NAME=CHANGE-ME

################################################################################
# LOG
# & between :
# LOG_LEVEL_INFO = 1;
# LOG_LEVEL_DEBUG = 2;
# LOG_LEVEL_ERROR = 4;
# LOG_LEVEL_WARNING = 8;
################################################################################
LOG_LEVEL=13

################################################################################
# QUARK STUFF
################################################################################

#####################################
# SERVER DEFINITIONS
#####################################

QUARK_SERVERS=xxx.xxx.xxx.xxx:2000
#INDESIGN_SERVERS=xxx.xxx.xxx.xxx:3000; xxx.xxx.xxx.xxx:3001;
INDESIGN_SERVERS=10.1.1.136:3000
#RENDERER_MAPPED_MMS_APP_DIR=//10.1.26.32/customer/mediasystem
RENDERER_MAPPED_MMS_APP_DIR=//10.1.0.174/serenity_original
INSTANCE_STATUS_LOCKFILE_FOLDER=/data/sharedfolders/lock
#QUARK_QUEUE_LIMIT= see Wiki MMS-V5.14

#DEDICATED_INDESIGN_SERVERS=xxx.xxx.xxx.xxx:3002
#DEDICATED_QUARK_SERVERS=

QUARK_IMAGES_FOLDER=/data/quark/images
QUARK_QUEUE_LIMIT=10
QUARK_EXCEPTION_MAIL_RECEIVER=quark-engine@brandmaker.com

#QUARK_DEFAULT_PRINT_STYLE=Default
#QUARK_ZOOM_PRINT_STYLE=Default_zoom

# the polling interval used to check for free Quark servers, when needed (in ms)
QUARK_PING_INTERVAL=5000

# plugin connection timeout (in ms)
RENDERER_TIMEOUT_SMALL=20000
RENDERER_TIMEOUT_BIG=600000

# enable/disable the renderer deadlock check 
# (activate only when the rendering servers are for explicit usage!)
RENDERER_DEADLOCK_CHECKER=1

################################################################################
# IMAGE MAGICK CONVERT UTILITY & GHOSTSCRIPT
################################################################################
IMAGE_MAGICK_CONVERT_PATH=/usr/bin/convert
GHOSTSCRIPT_CONVERT_PATH=/usr/bin/gs
GHOSTSCRIPT_QUIET_LOG=false

################################################################################
# EMAILS
################################################################################
MAIL_SERVER=CHANGE-ME
EMAIL_SYSTEM_SENDER=quark-engine@brandmaker.com

################################################################################ 
# COMMAND_EXECUTION_STYLE=[linux|windows|solaris]
################################################################################ 
COMMAND_EXECUTION_STYLE=linux

################################################################################ 
# LOG_TCP=1 for logging all plugin TCP commands
################################################################################ 
LOG_TCP=1

################################################################################ 
# Create a RTF document from the uploaded template -> Only for EY / Word-Plugin
################################################################################ 
create-rtf-from-template=0

################################################################################ 
# Enable (1) or disable (0) scanning of boxes on document preview
################################################################################ 
scan-boxes-on-document-preview=0

################################################################################ 
# Enable/disable file saving on document preview
################################################################################ 
no_filesave_for_previews=false

#############################################################################
# there is a new option in the brandmaker.config : ffmpeg.app.dir. You must
# set this property if you want to call ffmpeg command for conversion of video
# from different location ( default: jbosshome/bin/native )
# * note: the files in the jbosshome/bin/native folder will need to be removed
#############################################################################
